RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
JWT_SECRET=your_jwt_secret
ALLOW_DB_RESET=false

ADMIN_USER=admin
ADMIN_PASS=adminpass

KITCHEN_USER=kitchen
KITCHEN_PASS=kitchenpass

SUPER_USER=super
SUPER_PASS=superpass
